main#tabs-index {
  li {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  li a {
    display: block;
  }
  form {
    padding: 1rem;
  }
  form .form-control {
    margin-bottom: 1rem;
  }
  .hideable {
    height: auto;
    overflow: hidden;
  }
  .hidden {
    height: 0;
    display: none;
  }
}
